<app-header></app-header>
<div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>
		
		<form class="form"   (ngSubmit)="submit()">
			<input type="text" placeholder="Username" [(ngModel)]="user.userName" name="username" class="form-control">
			<input type="password" placeholder="Password" id="pwd"  [(ngModel)]="user.password"  name="password" class="form-control">
			<button id="login-button" >Login</button>
		</form>
	</div>
		<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>