<hr>
      <div class="row">
          <div class="col-md-3">
           <b>   Diseas Type </b>
            </div>
            <div class="col-md-3">
              {{subscripe.diseas}}
            </div>
            <div class="col-md-3">
               <b>Doctor Name</b> 
              </div>
              <div class="col-md-3">
                  {{subscripe.dname}}
              </div>
              </div>

              <div class="row">
                  <div class="col-md-3">
                      <b>Patient Name</b>
                    </div>
                    <div class="col-md-3">
                        {{subscripe.pname}}
                    </div>
                    <div class="col-md-3">
                        <b>Age</b>
                      </div>
                      <div class="col-md-3">
                          {{subscripe.age}}
                      </div>
                      </div>

                      <div class="row">
                          <div class="col-md-3">
                             <b>Phone Number</b> 
                            </div>
                            <div class="col-md-3">
                                {{subscripe.phoneNumber}}
                            </div>
                            <div class="col-md-3">
                                <b>Address</b>
                              </div>
                              <div class="col-md-3">
                                  {{subscripe.address}}
                              </div>
                              </div>